app-pokemon-detail {
  position: fixed;
  left: 39%;
  margin-top: 1%;
  transform: translate(-50% 0px);
}

.logo {
  height: 55px;
}

mat-sidenav-content {
  position: fixed;
  left: 20%;
}
